<!doctype html>
<html>

<head>
  <title>Streaming Control Panel</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <style>
    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }

    body {
      font: 13px Helvetica, Arial;
    }

    img {
      height: 100px;
      width: 100px;
    }
  </style>
</head>

<body>
  <div class="container-fluid">
    <h2>Current Endpoints</h2>
    <div class="row">
      <div class="col">
        <div>
          <table class="table">
            {% for endpoint in endpoints %}
            <tr>
              <td>
                <form class="form-inline" method="POST" action="./update_endpoint">
                  <input type="hidden" value="{{endpoint.index}}" name="endpoint_index">

                  <label class="sr-only" for="endpoint_name">Label</label>
                  <input type="text" class="form-control mb-2 mr-sm-2" id="endpoint_name" value="{{endpoint.name}}" name="endpoint_name">
                  
                  <label class="sr-only" for="endpoint_url">URL</label>
                  <input type="text" class="form-control mb-2 mr-sm-2" id="endpoint_url" value="{{endpoint.url}}" name="endpoint_url">

                  <label class="sr-only" for="endpoint_key">KEY</label>
                  <input type="text" class="form-control mb-2 mr-sm-2" id="endpoint_key" value="{{endpoint.key}}" name="endpoint_key">

                  <input type="submit" class="btn btn-warning mb-2 mr-sm-2" value="Update">

                  <form method="POST" action="./delete_endpoint">
                    <input type="hidden" value="{{endpoint.index}}" name="endpoint_index">
                    <input type="submit" class="btn btn-danger mb-2 mr-sm-2" value="Delete">
                  </form>  
                </form>
              </td>
            </tr>
            {% endfor %}
          </table>
          <br>
          <h2>Add New Endpoint</h2>
          <table>
            <tr>
              <td>
                <form class="form-inline" method="POST" action="./add_endpoint">
                  <label class="sr-only" for="endpoint_name">Label</label>
                  <input type="text" class="form-control mb-2 mr-sm-2" id="endpoint_name" name="endpoint_name" placeholder="YouTube">
                  
                  <label class="sr-only" for="endpoint_url">URL</label>
                  <input type="text" class="form-control mb-2 mr-sm-2" id="endpoint_url"  name="endpoint_url" placeholder="rtmp://a.rtmp.youtube.com/live2">

                  <label class="sr-only" for="endpoint_key">KEY</label>
                  <input type="text" class="form-control mb-2 mr-sm-2" id="endpoint_key"  name="endpoint_key" placeholder="stream key">

                  <input type="submit" class="btn btn-success mb-2 mr-sm-2" value="Add">
                </form>
              </td>
            </tr>
          </table>
        </div>
        <br>
        <h2>Server Control</h2>
        <div class="btn-group" role="group" aria-label="Server Control">
          <button type="button" class="btn btn-danger mb-2 mr-sm-2" id="btn_stop">Stop</button>
          <button type="button" class="btn btn-success mb-2 mr-sm-2" id="btn_start">Start</button>
          <button type="button" class="btn btn-primary mb-2 mr-sm-2" id="btn_reload">Reload</button>
        </div>
        <br>   
        <div id="response"></div>
      </div>

    </div>

    <br>
    <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js"
      integrity="sha256-yr4fRk/GU1ehYJPAs8P4JlTgu0Hdsp4ZKrx8bDEDC3I=" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
      integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
      crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
      integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
      crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
      integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
      crossorigin="anonymous"></script>
    <script type="text/javascript" charset="utf-8">
      document.getElementById("btn_stop").addEventListener("click", btnStop);
      document.getElementById("btn_start").addEventListener("click", btnStart);
      document.getElementById("btn_reload").addEventListener("click", btnReload);

      var socket = io();
      socket.on('connect', function () {
        document.getElementById("response").innerHTML = "SocketIO Connected!";
      });

      function btnStop() {
        document.getElementById("response").innerHTML = "Stop Command Sent!";
        socket.emit('ui_stop');
      }

      function btnStart() {
        document.getElementById("response").innerHTML = "Start Command Sent!";
        socket.emit('ui_start');
      }

      function btnReload() {
        document.getElementById("response").innerHTML = "Reload Command Sent!";
        socket.emit('ui_reload');
      }

      socket.on('frame', function (frame) {
        document.getElementById("response").innerHTML = "Command Received ";
      });

    </script>

</body>

</html>