<!doctype html>
<html>
  <head>
    <title>SERVER CONTROL PANEL</title>
    <style>
      * { margin: 0; padding: 0; box-sizing: border-box; }
      body { font: 13px Helvetica, Arial; }
      img {  height: 100px; width: 100px;}
    </style>
  </head>
  <body>
    <h1>Nginx Control</h1>
    <button id="btn_stop">Stop</button>
    <button id="btn_start">Start</button>
    <button id="btn_reload">Reload</button>
    <br>
    <div id="response"></div>
    <br>
    <div>
       <table>
        {% for endpoint in endpoints %}
        <tr>
            <td>
                <form method="POST" action="./update_endpoint" style="display: inline;">
                    <input type="hidden" value="{{endpoint.index}}" name="endpoint_index">
                    <input type="text" value="{{endpoint.name}}" name="endpoint_name" style=width:150px>
                    <input type="text" value="{{endpoint.url}}" name="endpoint_url" style=width:300px>
                    <input type="text" value="{{endpoint.key}}" name="endpoint_key" style=width:300px>
                    <input type="submit" value="Update">
                </form>
            </td>
            <td>
                <form method="POST" action="./delete_endpoint" style="display: inline;">
                  <input type="hidden" value="{{endpoint.index}}" name="endpoint_index">
                  <input type="submit" value="Delete">
                </form>
            </td>
        </tr>
        {% endfor %}
    </table>
    <br> 
    <div>Add New</div>
    <table>
      <tr>
          <td>
              <form method="POST" action="./add_endpoint" style="display: inline;">
                  <input type="text" value="Enter nickname" name="endpoint_name" style=width:150px>
                  <input type="text" value="Enter url" name="endpoint_url" style=width:300px>
                  <input type="text" value="Enter stream key" name="endpoint_key" style=width:300px>
                  <input type="submit" value="Add">
              </form>
          </td>
      </tr>
  </table>      
    </div>

    <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js" integrity="sha256-yr4fRk/GU1ehYJPAs8P4JlTgu0Hdsp4ZKrx8bDEDC3I=" crossorigin="anonymous"></script>
    <script type="text/javascript" charset="utf-8">
        document.getElementById("btn_stop").addEventListener("click", btnStop);
        document.getElementById("btn_start").addEventListener("click", btnStart);
        document.getElementById("btn_reload").addEventListener("click", btnReload);

        var socket = io();
        socket.on('connect', function() {
          document.getElementById("response").innerHTML = "SocketIO Connected!";
        });

        function btnStop() {
          document.getElementById("response").innerHTML = "Stop Command Sent!";
          socket.emit('ui_stop');
        }

        function btnStart() {
          document.getElementById("response").innerHTML = "Start Command Sent!";
          socket.emit('ui_start');
        }

        function btnReload() {
          document.getElementById("response").innerHTML = "Reload Command Sent!";
          socket.emit('ui_reload');
        }

        socket.on('frame', function(frame){
          document.getElementById("response").innerHTML = "Command Received ";
        });

    </script>

  </body>
</html>